html
  overflow-y: auto

.application--wrap
  min-height: 0

.v-stepper:not(.v-stepper--vertical) .v-stepper__wrapper
  overflow: visible

.v-stepper__header
  line-height: 1

.v-stepper__content .container.grid-list-xl
  margin: -24px -24px -16px -24px
  width: auto
  max-width: none

.text-hide
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
